:root{
    --Futura: book;
    --bold: 900;
    --p: #9c27B0;
    --poscuro: rgba(0, 0, 0, .28);
    --s: #ffce00;
    --soscuro: rgb(233,287,2);
    --bco: #fff;
    --negro: #000;
}
html {       
    box-sizing: border-box;/*snippet boxsizing --- box model*/
    font-size: 62.5%; /*codigo obligatorio en css 1rem = 10px  adaptables */
}
*, *:before, *:after {
    box-sizing: inherit;/*snippet boxsizing --- box model*/
}
body {
    font-size: 16px;/*codigo obligatorio en css 1rem = 10px  adaptables */
    background-image: radial-gradient(circle at 70% 18%, hsla(126,0%,77%,0.05) 0%, hsla(126,0%,77%,0.05) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 6% 94%, hsla(126,0%,77%,0.05) 0%, hsla(126,0%,77%,0.05) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 93% 63%, hsla(126,0%,77%,0.05) 0%, hsla(126,0%,77%,0.05) 85%,transparent 85%, transparent 100%),radial-gradient(circle at 5% 85%, hsla(126,0%,77%,0.05) 0%, hsla(126,0%,77%,0.05) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 49% 93%, hsla(126,0%,77%,0.05) 0%, hsla(126,0%,77%,0.05) 37%,transparent 37%, transparent 100%),linear-gradient(45deg, rgb(15, 5, 113),rgb(191, 90, 222));
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--Futura);
    text-transform: uppercase;
}
p {
    font-size: 1.8rem;
    font-family: var(--Futura);
    color: var(--bco);
}
a {
text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--s);
}
h1 {
font-size: 3rem;
font-weight: var(--bold);
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
@font-face {
    font-family: book;
    src: url(../font/Futura/Futura-Book.otf);
}
.header { /** se convierte en un bloque porque no requiere otro elemento para darle estilos*/
    display: flex;
    justify-content: center;
}
.header__logo { /** este es un elemento pues depende el bloque al que pertenece para posicionarse */
    margin: 3rem 0;
}
/*Todo Navegacion*/
.navegacion {
    background-color: var(--poscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.navegacion__enlace {
    font-family: var(--Futura);
    color: var(--bco);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: var(--bold);
}
.navegacion__enlace--activo,/** este es un modificador, este se encarga de modificar un elemento dentro de un bloque*/
.navegacion__enlace:hover {
    color: var(--s);
}

/*Todo footer */
    .footer{
background-color: var(--poscuro);
padding: 0.5rem 0;
margin: 2rem 0;
    }
    .footer__texto{
text-align: center;
    }